# Server
PORT=4000
NODE_ENV=development

# Database
POSTGRES_USER=hr_user
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=hr_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql://hr_user:supersecret@localhost:5432/hr_db
